  .Square {
    /* The overall size of the outer grid is established by here. */
    width: calc(var(--grid-size) / 6);
    height: calc(var(--grid-size) / 6);

    background: var(--square-inactive-background);
    border: 1px solid var(--square-border-colour);

    &.active {
      background: var(--square-active-background);
    }
  }