:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: black;
  background-color: lightGray;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variables */
  --grid-size: 20rem;
  --square-active-background: black;
  --square-inactive-background: lightGray;
  --inner-grid-border-colour: gray;
  --square-border-colour: darkGray;
}

body {
  margin: 0;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  padding: 2rem;
  /* width: 100%; */
}